$darkgray: var(--stellar-injected-color-darkgray);
$gray: var(--stellar-injected-color-gray);
$lightgray: var(--stellar-injected-color-lightgray);
$white: var(--stellar-injected-color-white);
$darkaccent: var(--stellar-injected-color-darkaccent);
$accent: var(--stellar-injected-color-accent);
$lightaccent: var(--stellar-injected-color-lightaccent);
$extralightaccent: var(--stellar-injected-color-extralightaccent);
$accenttransperant: var(--stellar-injected-color-accenttransperant);
