:root {
  --stellar-injected-color-darkgray: #0c0c0c !important;
  --stellar-injected-color-gray: #111111 !important;
  --stellar-injected-color-lightgray: #262626 !important;
  --stellar-injected-color-white: #ffffff !important;
  --stellar-injected-color-darkaccent: #5c2296 !important;
  --stellar-injected-color-accent: #9335f2 !important;
  --stellar-injected-color-lightaccent: #aa74e0 !important;
  --stellar-injected-color-extralightaccent: #c7a4ea !important;
  --stellar-injected-color-accenttransperant: #9335f240 !important;
}
